
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&family=IBM+Plex+Sans+Arabic:wght@500&family=Oswald&family=Rajdhani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&family=IBM+Plex+Sans+Arabic:wght@500&family=Oswald&display=swap');

body{
    background-image: url(enterface.jpg);
    background-repeat: no-repeat;
    
    background-size:100%;
}
    
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body{
    font-family: 'Almarai', sans-serif;
    height: 900px;
    background-color: #2F3335;
}

.bar{
    position: sticky;
    top: 0px;
    
}
nav{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    background: #191E21;
    width: 100%;
    padding-bottom: 1%
    
    
    
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    
}
nav .logo{
    width: 15%;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}


nav a:hover {
  color: #fddb3a;
}

button{
    border: none;
    background: yellow;
    padding: 12px 30px;
    border-radius: 30px;
    color: #2F3335;
    font-weight: bold;
    font-size: 20px;
    transition: .4s;
}
button:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.content {
  margin-left: 8vw;
  color: white;
  font-size: 5vw;
}

.content p {
  line-height: 1vw;
}

.content .ordernow {
  background-color: #ffbe33;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: fit-content;
  border-radius: 92px;
  font-family: sans-serif;
  padding: 36px;
  font-weight: bold;
}

.textDIV{
    padding-top: 5%; 
    font-family: monospace;
    font-weight: 10
}

p{
        color: white;
    font-size: 325%;
    padding-left: 1.5%;
    padding-top: 4%;
    
}
span{
    color: yellow
}
.btn1{
    margin-left: 10%;
    margin-top: 5%;
}





























.P2{margin-top: 10%}

.box{
    width: 25%;
    height:35vw;
    background-color: #191E21;
    margin-top: 5%;
    margin-left: 7%;
    border-radius: 3%;
}
.element1{
    background-color: #f1f2f3;
    border-bottom-left-radius: 25%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    height: 50%
}
.foods{
    width: 50%;
    margin-left: 23%;
    margin-top: 10%;
}
h4{
    color: white;
    font-size: 2.2vw;
    margin-top: 3%;
    margin-left: 4%
}
.discraption{
    color: white;
    font-size: 1.8vw;
    margin-left: 8%;
    margin-top: 8%;
    font-family: sans-serif;
}
.inside {
  display: flex;
  align-items: center;
    margin-top: 2%
}


h6{
    color: white;
    font-size: 1.7vw;
    margin-left: 15%;
    margin-top: 0%;
    margin-right: 40%
    
}
.line{
    
  display: flex;
  align-items: center;
    
}















.bottomDIV{
    align-items: center;
    justify-content: space-between;
    background: #191E21;
    width: 100%;
    padding-bottom: 5%;
    margin-top: 15%;
}
.bottomDIV p{
    font-size: 35px;
    color: white;
    margin-left: 5%;
    margin-bottom: 10%
}
.bottomDIV .text1{
    color: yellow;
    padding-top: 0%;
    margin-top: 1%
    
}
.childDIV{
    display: flex;
    margin-bottom: -4%;

}

.childDIV .logo1{
    width: 16%;
    height: 20%;
    margin-left: 30%;
    margin-top: 2%;      
}
.textDEV{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.text3{
    
    padding-left: 25%;
    
}







.P3{margin-top: 10%}





.elements{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-img {
    
    width: 35%;
    margin-left: 7%;
    margin-top: 2%;
}
.text{
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 240%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 8%;
}
.span1{
    color: yellow;
}











.P4{margin-top: 7%}




.handle
{display: flex;
  align-items: center;

}

.map{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 20%
}

 input {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
     margin-bottom: 15%;
     
      }

.bottomDIV{
    align-items: center;
    justify-content: space-between;
    background: #191E21;
    width: 100%;
    padding-bottom: 5%;
    margin-top: 15%;
}
.bottomDIV p{
    font-size: 35px;
    color: white;
    margin-left: 5%;
    margin-bottom: 10%
}
.bottomDIV .text1{
    color: yellow;
    padding-top: 0%;
    margin-top: 1%
    
}
.childDIV{
    display: flex;
    margin-bottom: -4%;

}

.childDIV .logo1{
    width: 16%;
    height: 20%;
    margin-left: 30%;
    margin-top: 2%;      
}
.textDEV{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.text3{
    
    padding-left: 25%;
    
}



    





















